In [1]:
import numpy as pd
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sb

In [2]:
col_names = ['Sepal Length','Sepal Width', 'Petal Length','Petal Width','Species']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=col_names)

In [3]:
df.head()

   Sepal Length  Sepal Width  Petal Length  Petal Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
x = df.iloc[:,:4].values

In [5]:
y = df['Species'].values

In [6]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.33, random_state = 2)

from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(x_train,y_train)
y_pred = nb.predict(x_test)

from sklearn.metrics import accuracy_score, classification_report,confusion_matrix
print('Classification Report')
print('\n')
print(classification_report(y_test,y_pred))

Classification Report


                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        20
Iris-versicolor       1.00      0.75      0.86        16
 Iris-virginica       0.78      1.00      0.88        14

       accuracy                           0.92        50
      macro avg       0.93      0.92      0.91        50
   weighted avg       0.94      0.92      0.92        50

In [7]:
print('Accuracy')
accuracy_score(y_test,y_pred)

Accuracy

0.92

In [8]:
print('confusion matrix')
confusion_matrix(y_test,y_pred)

confusion matrix

array([[20,  0,  0],
       [ 0, 12,  4],
       [ 0,  0, 14]], dtype=int64)